.header {
  background-color: purple;
  margin-bottom: 15px;
}

.p {
  color: white;
  font-weight: bold;
  display: inline-block;
  margin-right: 25px;
  width: max-content;
  padding: 15px;
  text-decoration: none;
}
